<div class="login-container">
  <h2>Welcome Back!</h2>
  <p class="tagline">Share the ride, save the planet. Log in with your employee ID to start.</p>
  
  <form (ngSubmit)="login()" class="login-form">
     <img src="assets/transport.png" alt="car image"  width="100px" height="100px">
    <label for="empId">Employee ID</label>
    <input id="empId" name="empId" [(ngModel)]="employeeId" placeholder="e.g. EMP001" />
    <button type="submit" [disabled]="!employeeId"  [ngClass]="employeeId ? 'btn-enabled' : 'btn-disabled' ">Login</button>
  </form>
</div>
