
<header class="app-toolbar" role="banner">
  <div class="app-name">GoRide</div>

  <nav>
    <!-- before login -->
    <a routerLink="/login" *ngIf="!auth.isLoggedIn()">Login</a>

    <!-- after login -->
    <a routerLink="/add-ride" *ngIf="auth.isLoggedIn()">Add Ride</a>
    <a routerLink="/rides" *ngIf="auth.isLoggedIn()">Available Rides</a>
  </nav>

  <div class="spacer"></div>

  <div class="user-info">
    <span *ngIf="auth.isLoggedIn()">
      {{ auth.getCurrentUser() }}
    </span>

    <button *ngIf="auth.isLoggedIn()" (click)="logout()">
      Logout
    </button>
  </div>
</header>
<main>
	<router-outlet></router-outlet>
</main>

